


.home{
    @include background;
    
    &-box{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;

    }
    &-boxintro{
        font-family: 'league';
        &-pretitle{
                font-size: 1.5rem;

            }
            &-title{
                font-size: 5rem;
                text-shadow: makelongshadow($magenta);
                /* &::after{
                    content: 'MIXIN';
                    position: absolute;
                    transform: translateX(-101%) translateY(2%);
                    -webkit-text-stroke: 1px $white;
                    color: transparent; 
                } */
            }
        }
    &-subtitle{
        font-family: 'titillium';
        font-size: 1.5rem;
        padding-left: 20%;
        text-align: end;
    }
    }

    @media only screen and (min-width: 800px){

        .home{
            padding: 10% 15% 10% 40%;

            &-box{
                justify-content: space-between;
            }
            &-boxintro{

                &-pretitle{
                        font-size: 2.5rem;
                        text-align: end;
                    }
                    &-title{
                        font-size: 10rem;
                        text-align: end;
                    }
                }

        }


    }