

@mixin background{
    height: 100vh;
    background-image: url('../img/back1.png');
    background-size: cover;
    color: $white;
    padding: 4rem 2rem 1rem 2rem;
}

@mixin background2{

    background-image: url('../img/back2.png');
    background-size: cover;
    color: $white;
    padding: 4rem 2rem 1rem 2rem;
}

@mixin background3{
    background-image: url('../img/back2.png');
    background-size: cover;
    color: $white;
    padding: 4rem 2rem 1rem 2rem;
}